* {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #ff4747;
    background: url('/static/img/background.png') no-repeat center center fixed;
    background-size: cover;
    scrollbar-width: none;
    height: 100%;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 800px;
    margin: 100px auto; /* To account for fixed navbar */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff4747;
    border-radius: 10px;
}

h1 {
    color: #ff4747;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff4747;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff4747;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f2f2f2;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

#profile_pic_preview {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

button[type="submit"] {
    background-color: #ff4747;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #d63b3b;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
