<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Logs</title>
    <link rel="stylesheet" href="/static/admin_panel/admin_panel_logs.css">
    <script src="/static/admin_panel/admin_panel_logs.js"></script>
</head>
<body>
    <!-- admin navigation bar -->
    <nav class="admin-navbar">
        <ul>
            <li><a href="/admin_panel">Home</a></li>
            <li><a href="/admin_panel/logs">Logs</a></li>
            <li><a href="/admin_panel/community">Community</a></li>
            <li><a href="/admin_panel/update_pages">Update Pages</a></li>
            <li><a href="/admin_panel/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="logs-container">
        <h1>Server logs:</h1>
        <div id="logs" name="logs" readonly></div>
    </div>
</body>
</html>
