<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <form action="/admin_panel/update_pages/update_image" method="post" enctype="multipart/form-data" class="login-form">
            <h2>Update Page</h2>
            <div class="input-group">
                <label for="image_name">Entry:</label>
                <input type="text" id="image_name" name="image_name" required>
            </div>
            <div class="input-group">
                <label for="img">Choose File:</label>
                <input type="file" id="img" name="img" accept="image/*" required>
            </div>
            <div class="button-container">
                <button type="submit" class="submit">Update Image</button>
            </div>
        </form>
    </div>
</body>
</html>