<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игры</title>
    <link rel="stylesheet" href="/static/games.css">
</head>
<body>

    <!-- navigation bar -->
    <div class="navbar">
        <ul>
            <div class="left-side">
                <li>
                    <a href="/">
                        <img src="/static/logo.png" alt="Website Logo" class="logo">
                    </a>
                </li>
            </div>

            <div class="center">
                <li><a href="/news">Новости</a></li>
                <li><a href="/games">Игры</a></li>
                <li><a href="/shop">Магазин</a></li>
                <li><a href="/about">О клубе</a></li>
                <li><a href="/forum">Форум</a></li>
            </div>

            <div class="right-side">
                {% if user_logged_in %}
                    <li>
                        <a href="/account">
                            <img src="{{ user.profile_picture_url }}" alt="User Profile Picture" class="profile-pic-small">
                        </a>
                    </li>
                {% else %}
                    <li><a href="/login">Войти</a></li>
                {% endif %}
            </div>
        </ul>
    </div>

    <!-- Games Container -->
    <div class="games-container">
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Найти игру">
            <input type="date">
            <button onclick="performSearch()">Найти</button>
        </div>

        <!-- Current Game Section -->
        <div class="current-game-row">
            {% if current_game %}
                <h2 class="live-indicator">В прямом эфире</h2>
                <div class="game-row">
                    <div class="teams">
                        <div class="team1">
                            <img src="{{ current_game.team1_logo_url }}" alt="{{ current_game.team1 }}" class="team-logo">
                            <div class="team-name">{{ current_game.team1 }}</div>
                        </div>
                        <span class="vs">vs</span>
                        <div class="team2">
                            <img src="{{ current_game.team2_logo_url }}" alt="{{ current_game.team2 }}" class="team-logo">
                            <div class="team-name">{{ current_game.team2 }}</div>
                        </div>
                    </div>
                    <div class="datetime">
                        {{ current_game.datetime }}
                    </div>
                    <div class="view-stats">
                        <a href="/view-game?id={{ current_game.id }}" class="register-match">Смотреть</a>
                    </div>
                </div>
            {% else %}
                <h2 class="live-indicator">Ближайшая игра</h2>
                <div class="next-game-row">
                    <div class="teams">
                        <div class="team1">
                            <img src="{{ upcoming_game.team1_logo_url }}" alt="{{ upcoming_game.team1 }}" class="team-logo">
                            <div class="team-name">{{ upcoming_game.team1 }}</div>
                        </div>
                        <span class="vs">vs</span>
                        <div class="team2">
                            <img src="{{ upcoming_game.team2_logo_url }}" alt="{{ upcoming_game.team2 }}" class="team-logo">
                            <div class="team-name">{{ upcoming_game.team2 }}</div>
                        </div>
                    </div>
                    <div class="datetime">
                        {{ upcoming_game.datetime }}
                    </div>
                    <div class="view-stats">
                        <a href="/order-ticket?id={{ upcoming_game.id }}" class="register-match">Заказать билет</a>
                    </div>
                </div>
            {% endif %}
        </div>


        <!-- Existing Games Table -->
        <div class="games-table">
            <h2 class="past-games-heading">Прошедшие игры</h2>
            {% for game in games %}
            <div class="game-row">
                <div class="teams">
                    <div class="team1">
                        <img src="{{ game.team1_logo_url }}" alt="{{ game.team1 }}" class="team-logo">
                        <div class="team-name">{{ game.team1 }}</div>
                    </div>
                    <span class="vs">vs</span>
                    <div class="team2">
                        <img src="{{ game.team2_logo_url }}" alt="{{ game.team2 }}" class="team-logo">
                        <div class="team-name">{{ game.team2 }}</div>
                    </div>
                </div>
                <div class="datetime">
                    {{ game.datetime }}
                </div>
                <div class="view-stats">
                    <a href="/view-game?id={{ game.id }}">Посмотреть статистику</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- footer -->
    <div class="bottom-bar">
        <div class="bottom-bar-content">
            <!-- Left side: Logo -->
            <div class="bottom-left">
                <img src="/static/kokos_icon.png" alt="Kokos Group Logo" class="kokos-logo">
            </div>

            <!-- Center: Links -->
            <div class="bottom-center">
                <a href="/help" class="footer-link">help</a>
                <a href="/privacy" class="footer-link">privacy policy, legal</a>
                <span class="footer-text">Developed by "MISIS Leaf Lovers" for "KOKOC hackathon"</span>
            </div>

            <!-- Right side: Social Media -->
            <div class="bottom-right">
                <a href="https://vk.com/kokocgroup_ru" target="_blank">
                    <img src="/static/vk_icon.png" alt="VK" class="social-logo">
                </a>
                <a href="https://t.me/kokocgroupru" target="_blank">
                    <img src="/static/telegram_icon.png" alt="Telegram" class="social-logo">
                </a>
                <a href="https://www.youtube.com/@TVKokoc" target="_blank">
                    <img src="/static/youtube_icon.png" alt="YouTube" class="social-logo">
                </a>
            </div>
        </div>
    </div>

    <script>
        // search
        function performSearch() {
            const searchQuery = document.getElementById('searchInput').value;
            if (searchQuery) {
                window.location.href = `/search?query=${encodeURIComponent(searchQuery)}`;
            }
        }

        document.getElementById('searchInput').addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                performSearch();
            }
        });
    </script>

</body>
</html>
