<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="static/login_with.css">
</head>
<body>
  <div class="login-container">
    <!-- Change this button to include an onclick event to navigate to login_password -->
    <button class="button login-password" onclick="location.href='/login_password'">log in with password</button>
    
    <button class="button login-google" onclick="location.href='/login_gmail'">
      <img src="static/chrome.png" alt="Google logo" class="google-logo"> log in with Google
    </button>
    <button class="button login-google" onclick="location.href='/login_yandex'">
      <img src="static/chrome.png" alt="Google logo" class="google-logo"> log in with YANDEX
    </button>
    
    <div class="or-text">or</div>
    
    <a href="/signup" class="create-account">Create an account now</a>
  </div>
</body>
</html>