<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Password</title>
    <link rel="stylesheet" href="static/login_password.css">
</head>
<body>
    <div class="login-container">
        <h2>log in to your account</h2>
        <form action="/login_password" method="POST">
            <input type="text" placeholder="Username" class="input-field" id="username" name="username">
            <input type="text" placeholder="Password" class="input-field" id="password" name="password">
            <input type="submit" class="button login-button">log in</button>
        </form>
    </div>
</body>
</html>